---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
        <p>{% include post-tags.html tags=post.tags %}</p>
        <p>
          {{ post.excerpt }}
          <a href="{{ post.url | prepend: site.baseurl }}">继续阅读 &raquo;</a>
        </p>
      </li>
    {% endfor %}
  </ul>
</div>

