<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.weibo_username %}
          <li>
            {% include icon-weibo.html username=site.weibo_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

  <div class="wrapper">

    <h2 class="footer-heading">链接</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="http://blog.githuber.cn/" target="_blank">博粹</a><br />
        <a href="https://githuber.cn/" target="_blank">GitHub开发者</a><br />
        <a href="http://getfullstack.com/" target="_blank">Web全栈技术指南</a><br />
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

  </div>

</footer>
