---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from the `minima` theme.
@import "minima";

.post-tag {
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #ddd;
}

.footnotes {
  font-size: 75%;
  background-color: #f2f2f2;
  padding: 1em;
  margin-top: 3em;
}

.pagination {
  text-align: center;
}

